* {
 outline: 1px solid red;
}

body {
  margin: 0;
  height: 100vh;
  width: 100vw;
}

#container {
  display: flex; 
  flex-wrap: wrap;
  height: calc(100% - 50px);
  width: 100%;
}
#container div {
  flex: 1 1 auto;
}
