body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  display: flex;
  flex-direction: column;
}

button {
  align-self: center;
}

#container {
  display: flex; 
  flex-wrap: wrap;
  flex: 1;
}
#container div {
  flex: 1 1 auto;
}
