body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  display: flex;
  flex-direction: column;
}

#container {
  display: flex; 
  flex-wrap: wrap;
  /*height: calc(100% - 50px);*/
  flex: 1;
}
#container div {
  flex: 1 1 auto;
}
